
.cards{
	display: flex;
    flex-wrap: wrap;
}




.card{
	padding: 25px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0px 10px 30px rgba(0,0,0,0.2);
    border-radius: 6px;
    margin: 10px;
    flex-basis: 280px;
    flex-grow: 1;
}

.card img{
	border-radius: 6px;
}


.card a{
	margin-left: 20px;
}

